In [ ]:
import openpyxl
import pandas as pd
from openpyxl import load_workbook

In [ ]:
import pandas as pd
import tkinter.ttk as ttk
import tkinter
import tkinter.messagebox
from tkinter import *
from tkinter import filedialog
from openpyxl import load_workbook

In [ ]:
df = pd.DataFrame([[1, 2],[2, 3]])

In [ ]:
writer = pd.ExcelWriter('member_info.xlsx', mode='a')
df.to_excel(writer, sheet_name='sheet3', index=False)
writer.save()

In [ ]:
with pd.ExcelWriter('member_info.xlsx', mode='a') as writer:
    df.to_excel(writer,
                sheet_name = '2021년 1월',
                index=False)
    writer.save()

In [ ]:
files = filedialog.askopenfilename(title="파일을 선택하세요", \
                                           filetypes=(("Excel 파일", "*.xlsx"), \
                                                      ("모든 파일", "*.*")), \
                                           initialdir="./")    # 현재 경로를 보여줌
df = pd.read_excel(files)
unit_nums = [re.compile('^(.*) 부 \(이상(.*)명\)$') \
               .findall(string.strip())
             for string in df['Unnamed: 6'].dropna(how='any')]

units = []
for unit_num in unit_nums:
  unit, num = unit_num[0]
  units += [unit] * int(num)
units
#[string for string in df['Unnamed: 6'].dropna(how='any')]

In [ ]:
import re

string = "0사단 01보병여단 부 (이상7명)"

m = re.compile('^(.*) 부 \(이상(.*)명\) $').findall(string)
m

In [23]:
class MyTable(Table):
    """Custom table class inherits from Table. You can then override required methods"""
    def __init__(self, parent=None, **kwargs):
        Table.__init__(self, parent, **kwargs)
        return

    def show_specific(self, col, value):
        w = Toplevel(self.parentframe)
        w.title("New Window")
        w.geometry("600x400+200+100")
        
        f = Frame(w)
        f.pack(fill=BOTH,expand=1)

        xl = pd.ExcelFile('member_info.xlsx')
        sheet = xl.sheet_names[col-1]
        df = pd.read_excel('member_info.xlsx', sheet_name=sheet)
        df = df[df['부대'] == value]

        pt = MyTable(f, dataframe=df,
                     showtoolbar=True, showstatusbar=True)
        pt.show()
        return

    def popupMenu(self, event, rows=None, cols=None, outside=None):
    
        def add_commands(fieldtype):
            """Add commands to popup menu for column type and specific cell"""
            functions = self.columnactions[fieldtype]
            for f in list(functions.keys()):
                func = getattr(self, functions[f])
                popupmenu.add_command(label=f, command= lambda : func(row,col))
            return

        popupmenu = Menu(self, tearoff = 0)
        def popupFocusOut(event):
            popupmenu.unpost()

        row = self.get_row_clicked(event)
        col = self.get_col_clicked(event)
        value = self.model.getValueAt(row, 0)

        popupmenu.add_command(label="자세히", command= lambda: self.show_specific(col, value))

        popupmenu.bind("<FocusOut>", popupFocusOut)
        popupmenu.focus_set()
        popupmenu.post(event.x_root, event.y_root)
        return popupmenu

In [24]:
from tkinter import *
from pandastable import Table, TableModel
import pandas as pd

class TestApp(Frame):
        """Basic test frame for the table"""
        def __init__(self, parent=None):
            self.parent = parent
            Frame.__init__(self)
            self.main = self.master
            self.main.geometry('600x400+200+100')
            self.main.title('Table app')
            f = Frame(self.main)
            f.pack(fill=BOTH,expand=1)

            df = pd.read_excel('member_info.xlsx', sheet_name=None)
            unit_total = pd.DataFrame(columns=['부대'])
            for k in df.keys():
                unit_df = df[k]['부대'].value_counts(sort=False).convert_dtypes().rename_axis('부대').reset_index(name=k)
                unit_total = pd.merge(unit_total,unit_df, how='outer', on='부대')
            self.table = pt = MyTable(f, dataframe=unit_total)

            pt.show()
            return

In [26]:
app = TestApp()
#launch the app
app.mainloop()

In [19]:
xl = pd.ExcelFile('member_info.xlsx')
sheet = xl.sheet_names[5-1]

df = pd.read_excel('member_info.xlsx', sheet_name=sheet)
df[df['부대'] == '0사단 정보통신대대']

            부대           군번   이름
17  0사단 정보통신대대  21-00000000  홍길동
18  0사단 정보통신대대  21-00000000  홍길동

In [4]:
import pandas as pd

member = pd.read_excel('member_info.xlsx', sheet_name='2020년1월')
member.set_index('군번')

              이름          부대    런닝    팬티  슬리퍼
군번
21-76022112  김도형      0사단 본부  M105  M100  270
21-76022113  윤자빈  0사단 군사경찰대대  M105  M100  270
21-76022114  강병수  0사단 군사경찰대대  M105  M100  270
21-76022115  김광준  0사단 군사경찰대대  M105  M100  280
21-76022116  김수현  0사단 군사경찰대대   M95  M100  290
21-76022117  김우진  0사단 군사경찰대대  M105  M100  270
21-76022118  김인호  0사단 군사경찰대대  M105  M100  270
21-76022119  김준휘  0사단 화생방지원대   M95   M95  280
21-76022120  김진호  0사단 화생방지원대  M105   M95  280
21-76022121  김태균    0사단 전차대대  M105   M95  280
21-76022122  김태훈    0사단 전차대대  M100  M100  290
21-76022123  김태훈    0사단 전차대대  M100  M100  290
21-76022124  김형민    0사단 전차대대  M100  M100  270
21-76022125  김회찬    0사단 전차대대  M105  M100  270
21-76022126  노영균    0사단 전차대대  M105  M105  270
21-76022127  노태민    0사단 전차대대  M100  M100  270
21-76022128  모범진    0사단 전차대대  M100  M100  270
21-76022129  문준혁  0사단 정보통신대대  M100  M100  270
21-76022130  백승훈  0사단 정보통신대대  M100  M100  270
21-76022131  서윤재    0사단 수색대대  M100  M100  280
21-76022132  신민혁    0사단 수색대대  M100  M100  290
21-76022133  안민철    0사단 수색대대  M100  M100  270
21-76022134  양현준    0사단 수색대대  M100  M100  270
21-76022135  오성규  0사단 보급수송대대  M100  M100  290
21-76022136  이상민  0사단 보급수송대대  M100  M100  270
21-76022137  이성준    0사단 공병대대  M100  M100  270
21-76022138  이승윤    0사단 공병대대  M105  M105  270
21-76022139  이신형    0사단 공병대대  M100  M100  270
21-76022140  이재익    0사단 공병대대  M100  M100  270
21-76022141  이준영    0사단 공병대대  M100  M100  270
21-76022142  장준표    0사단 공병대대  M100  M100  270
21-76022143  전효병    0사단 공병대대  M100  M100  280
21-76022144   정건    0사단 공병대대  M100  M100  290
21-76022145  정재욱    0사단 공병대대  M100  M100  270
21-76022146  정지원    0사단 공병대대  M100  M100  270
21-76022147   정철    0사단 공병대대  M100  M100  290
21-76022148  조용민  0사단 00보병여단  M100  M100  270
21-76022149  김철민  0사단 00보병여단  M100  M100  270
21-76022150  김도형  0사단 00보병여단  M100  M100  270
21-76022151  윤승오  0사단 00보병여단  M100  M100  270
21-76022152  박철민  0사단 00보병여단  M100  M100  270
21-76022153  홍철민  0사단 00보병여단  M105   M95  280
21-76022154  박승오  0사단 01보병여단  M100  M100  290
21-76022155  김성수  0사단 01보병여단  M100  M100  290
21-76022156  허종환  0사단 01보병여단  M100  M100  270
21-76022157  안형인  0사단 01보병여단  M105  M100  270
21-76022158  나선의  0사단 01보병여단  M105  M105  270
21-76022159  변상현  0사단 01보병여단  M100  M100  270
21-76022160  조봉희  0사단 01보병여단  M100  M100  270
21-76022161  염기정        소속없음  M100  M100  270
21-76022162  박대영        소속없음  M100  M100  270
21-76022163  박도영        소속없음  M100  M100  280

In [2]:
import pandas as pd
from tkinter import filedialog

member = pd.read_excel('member_info.xlsx', sheet_name='2020년1월')
size_info = pd.read_excel('피복사이즈(예문) 1.cell', header=3)

member[['군번','이름','부대']].set_index('군번').join(size_info[['군번', '런닝', '팬티', '슬리퍼']].set_index('군번'), on='군번')

              이름          부대    런닝    팬티  슬리퍼
군번
21-76022112  김도형      0사단 본부  M105  M100  270
21-76022113  윤자빈  0사단 군사경찰대대  M105  M100  270
21-76022114  강병수  0사단 군사경찰대대  M105  M100  270
21-76022115  김광준  0사단 군사경찰대대  M105  M100  280
21-76022116  김수현  0사단 군사경찰대대   M95  M100  290
21-76022117  김우진  0사단 군사경찰대대  M105  M100  270
21-76022118  김인호  0사단 군사경찰대대  M105  M100  270
21-76022119  김준휘  0사단 화생방지원대   M95   M95  280
21-76022120  김진호  0사단 화생방지원대  M105   M95  280
21-76022121  김태균    0사단 전차대대  M105   M95  280
21-76022122  김태훈    0사단 전차대대  M100  M100  290
21-76022123  김태훈    0사단 전차대대  M100  M100  290
21-76022124  김형민    0사단 전차대대  M100  M100  270
21-76022125  김회찬    0사단 전차대대  M105  M100  270
21-76022126  노영균    0사단 전차대대  M105  M105  270
21-76022127  노태민    0사단 전차대대  M100  M100  270
21-76022128  모범진    0사단 전차대대  M100  M100  270
21-76022129  문준혁  0사단 정보통신대대  M100  M100  270
21-76022130  백승훈  0사단 정보통신대대  M100  M100  270
21-76022131  서윤재    0사단 수색대대  M100  M100  280
21-76022132  신민혁    0사단 수색대대  M100  M100  290
21-76022133  안민철    0사단 수색대대  M100  M100  270
21-76022134  양현준    0사단 수색대대  M100  M100  270
21-76022135  오성규  0사단 보급수송대대  M100  M100  290
21-76022136  이상민  0사단 보급수송대대  M100  M100  270
21-76022137  이성준    0사단 공병대대  M100  M100  270
21-76022138  이승윤    0사단 공병대대  M105  M105  270
21-76022139  이신형    0사단 공병대대  M100  M100  270
21-76022140  이재익    0사단 공병대대  M100  M100  270
21-76022141  이준영    0사단 공병대대  M100  M100  270
21-76022142  장준표    0사단 공병대대  M100  M100  270
21-76022143  전효병    0사단 공병대대  M100  M100  280
21-76022144   정건    0사단 공병대대  M100  M100  290
21-76022145  정재욱    0사단 공병대대  M100  M100  270
21-76022146  정지원    0사단 공병대대  M100  M100  270
21-76022147   정철    0사단 공병대대  M100  M100  290
21-76022148  조용민  0사단 00보병여단  M100  M100  270
21-76022149  김철민  0사단 00보병여단  M100  M100  270
21-76022150  김도형  0사단 00보병여단  M100  M100  270
21-76022151  윤승오  0사단 00보병여단  M100  M100  270
21-76022152  박철민  0사단 00보병여단  M100  M100  270
21-76022153  홍철민  0사단 00보병여단  M105   M95  280
21-76022154  박승오  0사단 01보병여단  M100  M100  290
21-76022155  김성수  0사단 01보병여단  M100  M100  290
21-76022156  허종환  0사단 01보병여단  M100  M100  270
21-76022157  안형인  0사단 01보병여단  M105  M100  270
21-76022158  나선의  0사단 01보병여단  M105  M105  270
21-76022159  변상현  0사단 01보병여단  M100  M100  270
21-76022160  조봉희  0사단 01보병여단  M100  M100  270
21-76022161  염기정        소속없음  M100  M100  270
21-76022162  박대영        소속없음  M100  M100  270
21-76022163  박도영        소속없음  M100  M100  280

In [59]:
import pandas as pd
df1 = pd.DataFrame({'부대': ['1사단', '2사단', '3사단'],
                    '군번': ['21-123', '21-1512', '21-2398'],
                    '이름': ['고건호', '김도형', '한성수']})

df2 = pd.DataFrame({'군번': ['21-1512', '21-2398'],
                    '이름': ['김도형', '한성수'],
                    '사이즈': [2, 3]})

df3 = df1.set_index('군번').join(df2[['군번','사이즈']].set_index('군번'), how='left', on='군번', rsuffix='_new')
if '사이즈_new' in df3.columns.tolist():
    def is_null(x):
        return x != x
    size = [row['사이즈'] if is_null(row['사이즈_new']) else row['사이즈_new']
            for row in df3.iloc]
    df3 = df3[['이름']]
    df3['사이즈'] = size
df3

          부대   이름  사이즈
군번
21-123   1사단  고건호  NaN
21-1512  2사단  김도형  2.0
21-2398  3사단  한성수  3.0

In [56]:
def is_null(x):
    return x != x
is_null()

True

In [100]:
df = pd.read_excel('member_info.xlsx', sheet_name=None)
unit_total = pd.DataFrame(columns=['사이즈'])

month = '2020년1월'
item = '런닝'

unit_df = df[month][item].value_counts(sort=False).convert_dtypes().rename_axis('사이즈').reset_index(name=month)
sort_value = unit_df['사이즈'].apply(lambda x:int(x[1:]))

unit_df['sort'] = sort_value
unit_df = unit_df.sort_values(by='sort')
unit_df

unit_total = pd.merge(unit_total, unit_df[['사이즈', month, 'sort']], how='outer', on='사이즈')
unit_total['품목'] = ['런닝'] * len(unit_total)
unit_total

    사이즈  2020년1월  sort  품목
0   M95        2    95  런닝
1  M100       36   100  런닝
2  M105       14   105  런닝

In [93]:
df = pd.read_excel('member_info.xlsx', sheet_name=None)
items = {'런닝': lambda x:int(x[1:]), 
         '팬티': lambda x:int(x[1:]), 
         '슬리퍼': lambda x:int(x)}
unit_total = {}

for item in items:
    unit_total[item] = pd.DataFrame(columns=['사이즈'])

for item in items:
    for month in df.keys():
        unit_df = df[month][item].value_counts(sort=False).convert_dtypes().rename_axis('사이즈').reset_index(name=month)
        sort_value = unit_df['사이즈'].apply(items[item])
        # label = [item] * len(unit_df)

        # unit_df['품목'] = label
        unit_df['sort'] = sort_value
        unit_df = unit_df.sort_values(by='sort')

        unit_total[item] = pd.merge(unit_total[item], unit_df[['사이즈', month]], how='outer', on='사이즈')

    unit_total[item] = unit_total[item].set_index('사이즈')

unit_total['런닝']

      2020년1월  2020년2월  2020년3월  2020년4월  2020년5월  2020년6월  2020년7월
사이즈
M95         2        2        2        2     <NA>     <NA>        2
M100       36       36       36       36     <NA>     <NA>       36
M105       14       14       14       14     <NA>     <NA>       14

In [94]:
pd.concat(unit_total)

          2020년1월  2020년2월  2020년3월  2020년4월  2020년5월  2020년6월  2020년7월
    사이즈
런닝  M95         2        2        2        2     <NA>     <NA>        2
    M100       36       36       36       36     <NA>     <NA>       36
    M105       14       14       14       14     <NA>     <NA>       14
팬티  M95         4        4        4        4     <NA>     <NA>        4
    M100       45       45       45       45     <NA>     <NA>       45
    M105        3        3        3        3     <NA>     <NA>        3
슬리퍼 270        35       35       35       35     <NA>     <NA>       35
    280         8        8        8        8     <NA>     <NA>        8
    290         9        9        9        9     <NA>     <NA>        9

In [91]:
from tkinter import *
from pandastable import Table

tool = Tk()
item_data = Toplevel(tool)
item_data.title("품목 전체 조회")
item_data.geometry("600x400+200+100")
    
f = Frame(item_data)
f.pack(fill=BOTH,expand=1)

df = pd.read_excel('member_info.xlsx', sheet_name=None)
items = {'런닝': lambda x:int(x[1:]), 
        '팬티': lambda x:int(x[1:]), 
        '슬리퍼': lambda x:int(x)}
unit_total = {}

for item in items:
    unit_total[item] = pd.DataFrame(columns=['품목', '사이즈'])

for item in items:
    for month in df.keys():
        unit_df = df[month][item].value_counts(sort=False).convert_dtypes().rename_axis('사이즈').reset_index(name=month)
        sort_value = unit_df['사이즈'].apply(items[item])
        label = [item] * len(unit_df)

        unit_df['품목'] = label
        unit_df['sort'] = sort_value
        unit_df = unit_df.sort_values(by='sort')

        unit_total[item] = pd.merge(unit_total[item], unit_df[['품목', '사이즈', month]], how='outer', on=['품목', '사이즈'])

pt = Table(f, dataframe=pd.concat(unit_total))
pt.show()
item_data.mainloop()